:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #2D2A2A;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    user-select: none;
}

@font-face {
    font-family: 'Minecraft'; /* Nome da fonte */
    src: url('Font/Minecraft12-Regular.ttf') format('truetype'); /* Caminho para o arquivo .ttf */
    font-weight: normal; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

@font-face {
    font-family: 'Minecraft'; /* Nome da fonte */
    src: url('Font/Minecraft.ttf') format('truetype'); /* Caminho para o arquivo .ttf */
    font-weight: normal; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #ff0101;
}

.gameboy-div {
    position: relative;
    width: 40vw; /* Largura baseada na largura da viewport (tela) */
    height: calc(40vw * 1456 / 916); /* Altura proporcional à largura com base nas dimensões originais */
    max-width: 500px; /* Largura máxima para não ultrapassar o tamanho original */
    max-height: 800px; /* Altura máxima para manter as proporções originais */
    background-image: url('/SistemasDistribuídos-Aladdin@2x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*border: solid 1px #ff0101*/
}

.abuttom-div {
    position: absolute;
    top: 82.3%; /* Posição percentual relativa à altura do gameboy-div */
    left: 45.8%; /* Posição percentual relativa à largura do gameboy-div */
    transform: translate(69%, -50%); /* Altura percentual em relação ao gameboy-div */
    width: auto; /* Largura percentual em relação ao gameboy-div */
    height: auto;
    max-width: 120px;
    max-height: 120px;
    background-color: rgba(255, 255, 255, 0);
    /*border: solid 1px #ff0101;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}



.round-button {
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 110px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    transition: 0.1s ease-in-out;
}


.round-button:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0 0 50px 2px rgba(182, 184, 62, 0.7);
}

.tbuttom-div{
    position: absolute; /* Permite o posicionamento absoluto em relação a gabeboy-div */
    width: 15vw; /* Se você quiser que ela ocupe toda a largura */
    height:15vw; /* Se você quiser que ela ocupe toda a altura */
    max-width: 190px;
    max-height: 190px;
    top: 61%; /* Alinha ao topo */
    left: 12%; /* Alinha à esquerda */
    /*border: solid 1px #ff0101;*/
}

.triangle-button {
    position: absolute; /* Permite que os botões fiquem fixos na tela */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    width: 4vw; /* Tamanho fixo para os botões */
    height: 4vw; /* Tamanho fixo para os botões */
    max-width: 40px;
    max-height: 40px;
    background-color: transparent; /* Cor de fundo do triângulo */
    border: none; /* Remove bordas */
    /*border-radius: 50%; /* Faz os botões serem circulares */
    /*color: white; /* Cor do texto */
    font-size: 2vw; /* Tamanho da fonte relativo */
    display: flex; /* Permite centralizar conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra do botão */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

/* Tamanho e posicionamento do triângulo 1 */
#t1 {
    top: 5%; /* Posição vertical em relação à altura da viewport */
    left: 39%; /* Posição horizontal em relação à largura da viewport */
}

/* Tamanho e posicionamento do triângulo 2 */
#t2 {
    top: 40%; /* Posição vertical em relação à altura da viewport */
    left: 6%; /* Posição horizontal em relação à largura da viewport */
}

/* Tamanho e posicionamento do triângulo 3 */
#t3 {
    top: 74%; /* Posição vertical em relação à altura da viewport */
    left: 39%; /* Posição horizontal em relação à largura da viewport */
}

/* Tamanho e posicionamento do triângulo 4 */
#t4 {
    top: 40%; /* Posição vertical em relação à altura da viewport */
    left: 72%; /* Posição horizontal em relação à largura da viewport */
}

.rbuttom-div{
    position: absolute;
    /*border: solid 1px #ff0101;*/
    width: 18vw;
    height: 2vw;
    max-width: 227px;
    max-height: 25px;
    top: 52.8%;
    left: 42.5%;
}

.retangle{
    width: 10vw;
    height: 2vw;
    max-width: 110px;
    max-height: 25px;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


#return{
    position: absolute;

}

.retangle:hover {
    transition: 0.1s ease-in-out;
    box-shadow: 0 0 50px 2px rgba(182, 184, 62, 0.7);
}

#start{
    position: absolute;
    left: 52%;

}

.tela{
    /*border: solid 1px #ff0101;*/
    width: 31vw;
    height: 24.4vw;
    max-width: 389px;
    max-height: 308px;
    position: absolute;
    top: 9.2%;
    left: 11%;
    display: flex;


}

.resposta{
    width: 6.5vw;
    height: 6.5vw;
    max-width: 85px;
    max-height: 85px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.opcoes{
    position: absolute;
    /*border: solid 1px #ff0101;*/
    width: 30.7vw;
    height: 6vw;
    max-width: 389px;
    max-height: 85px;
    top: 65%;
}

#vm{
    position: absolute;
    background-color: #b83e3e;
    left: 3%;
    transition: box-shadow 0.3s ease-in-out;
}

#vm.selected{
    box-shadow: 0 0 15px 2px rgba(184, 62, 62, 0.7);
}

#am{
    position: absolute;
    background-color: #b6b83e;
    left: 27%;
    transition: box-shadow 0.3s ease-in-out;
}

#am.selected{
    box-shadow: 0 0 15px 2px rgba(182, 184, 62, 0.7);
}

#az{
    position: absolute;
    background-color: #3e46b8;
    left: 51.5%;
    transition: box-shadow 0.3s ease-in-out;
}

#az.selected{
    box-shadow: 0 0 15px 2px rgba(62, 70, 184, 0.7);
}

#vd{
    position: absolute;
    background-color: #4cb83e;
    left: 76%;
    transition: box-shadow 0.3s ease-in-out;
}

#vd.selected{
    box-shadow: 0 0 15px 2px rgba(76, 184, 62, 0.7);
}

#numPergunta{
    position: absolute;
    width: 25vw;
    height: 5vw;
    max-width: 304px;
    max-height: 50px;
    top: 20%;
    left: 10.6%;
    /*border: solid 1px #ff0101;*/
    background-color: #2D2A2A;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 4.5vw, 54px);
    font-family: 'Minecraft';
    z-index: 1;
}

h1{
    position: absolute;
    width: 25vw;
    height: 5vw;
    max-width: 304px;
    max-height: 50px;
    top: -7%;
    left: 10.6%;
    background-color: #2D2A2A;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 4.5vw, 54px);
    font-family: 'Minecraft';
    z-index: 2;
}

#pressStart{
    position: absolute;
    border: transparent;
    width: 31vw;
    height: 10vw;
    max-width: 388px;
    max-height: 30px;
    font-size: clamp(10px, 2vw, 29px);
    top: 35%;
    font-family: 'Minecraft';
    text-align: center;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1; /* Visível */
    }
    50% {
        opacity: 0; /* Invisível no meio do ciclo */
    }
}

#sLivro{
    font-size: clamp(10px, 2vw, 32px);
    /*border: solid 1px #ff0101;*/
    color:#6d6868;
    text-align: center;
    width: 31vw;
    height: 2.5vw;
    max-width: 384px;
    max-height: 55px;
    left: 1%;
    top: 8%;
}

#numLivro{
    position: absolute;
    border: none;
    outline: none;
}

#livro{
    position: absolute;
    border: none;
    background-color: transparent;
    text-align: center;
    font-family: 'Minecraft';
    outline: none;
    font-size: clamp(15px, 2vw, 40px);
    width: 30vw;
    height: 5vw;
    max-width: 384px;
    max-height: 50px;
    top: 38%;
    left: 0%;
    transition: color 0.3s all;
}

#tecladoNum{
    position: absolute;
    /*border: solid 1px #ff0101;*/
    width: 30.86vw;
    height: 5vw;
    max-width: 389px;
    text-align: center;
    top: 75%;
    z-index: 2;
}

.digiNum:not(.selected) {
    font-size: clamp(1px, 3vw, 30px);
}

.digiNum.selected {
    font-size: clamp(1px, 4.5vw, 40px);
}

.digiNum{
    position: relative;
    width: 2.7vw;
    height: 5vw;
    padding: auto;
    max-width: 38px;
    max-height: 27px;
    top: 0%;
    left: 0%;
    font-family: 'Minecraft';
    background-color: transparent;
    border: none;
    color: #CD9903;
    font-size: clamp(1px, 1vw, 30px);
    justify-items: center;
    transition: all 0.3s ease-in-out;
}
